.dashboard-container {
   width: 100%;
   display: grid;
   padding: 20px;
   padding-left: 30px;
   padding-right: 30px;
   gap: 20px;
   background-color: whitesmoke;
}

.row {
   display: grid;
   gap: 20px;
}

.one-column {
   grid-template-columns: repeat(1, 1fr);
}

.two-columns {
   grid-template-columns: repeat(2, 1fr);
}

.three-columns {
   grid-template-columns: repeat(3, 1fr);
}

.dashboard-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   font-size: 1.1rem;
   text-align: center;
   min-height: 400px;
   width: 100%;
   height: calc(50vh - 55px);
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
   width: 100%;
   padding: 10px;
   position: relative;
}

.welcome-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.today-content,
.month-content,
.progress-content,
.today-team-content,
.month-team-content,
.auxiliares-team-content,
.analistas-team-content,
.setor-content,
.comercio-content,
.supermercado-content,
.industria-content {
   display: flex;
   flex-direction: column;
   gap: 0;
   align-items: center;
}

.welcome-content img {
   width: 150px;
   height: 150px;
}

.container-chart {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.chart {
   width: 100%;
}

.message {
   width: 100%;
}

.message p {
   margin: 0;
   font-size: 18px;
   font-weight: 500;
}

.message p span {
   font-weight: 700;
   font-size: 20px;
   color: #6700ff;
}

.message .caption {
   color: #666;
   font-size: 12px;
}

.welcome-message p {
   margin: 0;
   font-size: 24px;
   font-weight: 500;
}

.welcome-message p span {
   font-weight: 700;
   font-size: 26px;
   color: #6700ff;
}

.welcome-message .caption {
   color: #666;
   font-size: 18px;
}

canvas {
   width: 80% !important;
   max-width: 350px !important;
   height: auto !important;
   padding: 10px;
}

@media (max-width: 1130px) {
   .row {
      grid-template-columns: 1fr;
   }

   .dashboard-card {
      min-height: 400px;
      height: calc(50vh - 55px);
   }
}

@media (min-width: 1110px) and (max-width: 1368px) {
}
