.dashboard-container {
   display: grid;
   padding: 20px;
   padding-left: 30px;
   padding-right: 30px;
   gap: 20px;
   background-color: whitesmoke;
}

.row {
   display: grid;
   gap: 20px;
}

.one-column {
   grid-template-columns: repeat(1, 1fr);
}

.two-columns {
   grid-template-columns: repeat(2, 1fr);
}

.three-columns {
   grid-template-columns: repeat(3, 1fr);
}

.dashboard-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   font-size: 1.1rem;
   text-align: center;
   min-height: 400px;
   height: calc(50vh - 55px);
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
   width: 90%;
   padding: 20px;
}

.welcome-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.today-content,
.month-content,
.progress-content,
.today-team-content,
.month-team-content,
.auxiliares-team-content,
.analistas-team-content {
   display: flex;
   flex-direction: row;
   gap: 30px;
   align-items: center;
}

.welcome-content img {
   width: 150px;
   height: 150px;
}

.message {
   width: 50%;
}

.welcome-message {
   width: 100%;
}

.chart {
   width: 50%;
   transition: transform 0.3s;
}

.chart:hover {
   transform: scale(1.1);
   transition: transform 0.3s;
}

.message p {
   margin: 0;
   font-size: 22px;
   font-weight: 500;
}

.message p span {
   font-weight: 700;
   font-size: 24px;
   color: #6700ff;
}

.message .caption {
   color: #666;
   font-size: 16px;
   margin-top: 8px;
}

canvas {
   width: 80% !important;
   max-width: 350px !important;
   height: auto !important;
   padding: 10px;
}

.responsavel-select {
   background-color: #f8f8f8;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px;
   font-size: 14px;
   color: #333;
   cursor: pointer;
   transition: border-color 0.3s ease;
   width: 100%;
   max-width: 300px;
   margin-top: 20px;
}

.responsavel-select:focus {
   border-color: #6700ff;
   outline: none;
}

@media (max-width: 950px) {
   .row {
      grid-template-columns: 1fr;
   }

   .dashboard-card {
      min-height: 400px;
      height: calc(50vh - 55px);
   }

   .message p {
      font-size: 22px;
   }

   .message p span {
      font-size: 24px;
   }

   .message .caption {
      font-size: 16px;
   }
}

@media (min-width: 950px) and (max-width: 1368px) {
   .message p {
      font-size: 18px;
   }

   .message p span {
      font-size: 20px;
   }

   .message .caption {
      font-size: 12px;
   }
}
